### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data_films = pd.read_csv('movies.csv')
data_films.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
data_ratings = pd.read_csv('ratings.csv')
data_ratings_5 = data_ratings[ data_ratings.rating >= 5 ]
film_rat5 = data_ratings_5.merge(data_films, how = 'left', left_on='movieId', right_on='movieId')

In [11]:
film_rat5[ 'title' ].value_counts().head(5)

Shawshank Redemption, The (1994)             39553
Pulp Fiction (1994)                          32169
Forrest Gump (1994)                          25918
Star Wars: Episode IV - A New Hope (1977)    25804
Matrix, The (1999)                           25482
Name: title, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [9]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [37]:
filtered_baltic_state = data[ (((( data.country == 'Estonia' ) | ( data.country == 'Lithuania' ) | ( data.country == 'Latvia' ) ) & ((data.category == 4) | (data.category == 12) | (data.category == 21))) & (data.quantity >= 0)) & (( data.year >= 2005 ) & ( data.year <= 2010 )) ]
sum_quantity_bs = filtered_baltic_state.quantity.sum()
sum_quantity_bs

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [22]:
table_html = pd.read_html('https://dundeeclub.ru/vocabulary/nazvaniya-stran-mira-natsionalnostej-yazykov-i-stolits-na-anglijskom.html', encoding='utf-8', skiprows = [1])[0]

In [30]:
new_header = table_html.iloc[0]
table_html = table_html[1:]
table_html.columns = new_header
table_html

,Страна,Перевод,Национальность,Национальность,Язык
1,Afghanistan,Афганистан,Afghan,an Afghan,Persian – Pashto
2,Albania,Албания,Albanian,an Albanian,Albanian
3,Algeria,Алжир,Algerian,an Algerian,Arabic
4,Argentina,Аргентина,Argentine,an Argentine,Spanish
5,NaN,NaN,Argentinian,an Argentinian,NaN
...,...,...,...,...,...
113,Vietnam,Вьетнам,Vietnamese,a Vietnamese person,Vietnamese
114,Wales,Уэльс,Welsh,a Welshman,Welsh / English
115,NaN,NaN,NaN,a Welshwoman,NaN
116,Zambia,Замбия,Zambian,a Zambian,English
117,Zimbabwe,Зимбабве,Zimbabwean,a Zimbabwean,16 languages